body {
  background-color: #87CEEB;
}

img {
  height: 80%;
  width: 100%;
}

.item {
  height: 250px;
  width: 700px;
  background-color: transparent;
  font-size: 3rem;
  margin: 25% auto 0 auto;
  border: 1px solid gray;
  border-radius: 30px;
}

.play-button {
  background-color: transparent;
  border: none;
  height: 100px;
  width: 100px;
  position: relative;
  margin-left: 80%;
  margin-top: 10%;
}

.icon {
  font-size: 5rem;
}

.last {
  margin-bottom: 25%;
}
