body {
  background-color: #87CEEB;
  margin-left: 0;
  margin-right: 0;
}

img {
  height: 80%;
  width: 100%;
}

h2 {
  font-size: 1.3rem;
  color: #fff;
  display: inline-block;
  margin-left: 10%;
  margin-top: 12%;
  position: absolute;
}

p {
  font-size: 1rem;
  display: inline-block;
  margin-left: 13%;
  margin-top: 12%;
}

.wrapper{
  overflow-x: hidden;
}

.item {
  height: 120px;
  width: 300px;
  background-color: transparent;
  font-size: 3rem;
  margin: 25% auto 0 auto;
  border: 1px solid gray;
  border-radius: 30px;
}

.play {
  background-color: transparent;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 2.3rem;
  height: 100px;
  width: 100px;
  position: relative;
  margin-left: 75%;
  margin-top: 11%;
}

.play2 {
  font-size: 1.5rem;
}

.player {
  height: 100px;
  width: 100vw;
  background-color: #150050;
  margin-top: -24%;
  z-index: 1000;
  position: fixed;
}

.icon {
  font-size: 5rem;
}

.last {
  margin-bottom: 25%;
}

.bot-play {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  margin-left: 60%;
  margin-top: -15%;
  text-align: left;
}

.next {
  font-size: 1.5rem;
  margin-left: 12%;
}

.prev {
  font-size: 1.5rem;
  margin-right: 5%;
}

.song-name {
  color: #fff;
  margin-left: 5%;
  margin-top: 10%;
}
